replicaCount: 2

image:
  repository: nandu08433/my-web-app
  tag: "0.0.1"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80
  targetPort: 8080

resources: {}
# Example:
# resources:
#   limits:
#     cpu: 500m
#     memory: 512Mi
#   requests:
#     cpu: 250m
#     memory: 256Mi

audit:
  retentionDays: 90
  cleanupCron: "0 0 0 * * ?"