apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  application.properties: |
    audit.retention-days={{ .Values.audit.retentionDays }}
    audit.cleanup-cron={{ .Values.audit.cleanupCron }}